@font-face {
  font-family: "iconfont"; /* Project id 4459748 */
  src: url('iconfont.woff2?t=1709966820374') format('woff2'),
       url('iconfont.woff?t=1709966820374') format('woff'),
       url('iconfont.ttf?t=1709966820374') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheweiguanli:before {
  content: "\1011f";
}

.icon-shoucang:before {
  content: "\10120";
}

.icon-Wechat:before {
  content: "\e86e";
}

.icon-Illustrator:before {
  content: "\e880";
}

